@charset "utf-8";

:root {
  --primary: #011caa;
  --secondary: #efac61;
  --tertiary: #fff;
  --texts: #040d3e;
  --background: #f9f9fd;
}
// LaBoite brand colors
$lightgrey: #f9f9fd;

// Update Bulma's global variables
$primary: #011caa;
$secondary: #efac61;

// Update some of Bulma's component variables
$body-background-color: $lightgrey;

// Import only what you need from Bulma
// Base
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/form/_all.sass";

// Components
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/elements/container.sass";

@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/layout/section.sass";
