@charset "utf-8";

// LaBoite brand colors
$blue: #011caa;
$yellow: #efac61;
$white: #fff;
$black: #040d3e;
$lightgrey: #f9f9fd;

//other colors
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
$primary: $blue !default;
$secondary: $yellow;

// Update some of Bulma's component variables
$body-background-color: $lightgrey;

// Import only what you need from Bulma
// Base
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/form/_all.sass";

// Components
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/elements/container.sass";

@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/layout/section.sass";
